%h1 Welcome to a Troubadour code site

%p
    Troubadour is a sinatra-based application for hosting code projects.

%ul#projects
    - projects.each do |project|
        %li
            %div.title
                %a{:href => project[0]}= project[1]['title']
            %div.meta
                - if project[1]['git']
                    %img{:src => 'img/git.png'}
                - if project[1]['svn']
                    %img{:src => 'img/svn.png'}
            %div.copy
                %p= project[1]['description']