!!! 5
%html
    %head
        %title= "Troubadour - #{project['title']}"
        %link{:rel => "shortcut icon", :href => "favicon.ico"}
        %link{:rel => "stylesheet", :type => "text/css", :href => "/style/troubadour.css"}
    %body
    =yield